<div></div>
<%= render @partial %>
<style>
html {
  background: url('assets/shane_cloudy_day.jpg') no-repeat center center fixed;
  background-size: cover;
}
</style>
<!-- <div class=cloudy-day>
  </div>
<style media="screen">
  .cloudy-day{ background-image: url('/shane_cloudy_day.jpg'); }
</style> -->
